<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gsw.smbms.dao.bill.BillMapper">
	<resultMap type="Provider" id="providerResult">
		<id property="id" column="p_id"/>
		<result property="proCode" column="proCode"/>
		<result property="proName" column="proName"/>
		<result property="proDesc" column="proDesc"/>
		<result property="proContact" column="proContact"/>
	</resultMap>
	<resultMap type="Bill" id="firstMap">
		<id property="id" column="id"/>
		<result property="providerName" column="proName"/>
		<association property="provider" javaType="Provider" resultMap="providerResult"/>
	</resultMap>
	<select id="getBillByThings" parameterType="Map" resultMap="firstMap">
		SELECT p.proName,p.id as p_id,p.proCode,p.proDesc,p.proContact,p.proPhone,b.* FROM smbms_bill b,smbms_provider p
		WHERE b.providerId=p.id AND b.productName LIKE CONCAT('%',#{productName},'%') AND p.id=#{providerId} AND b.isPayment=#{isPayment}
	</select>
	<select id="getBillByThings2" parameterType="Map" resultMap="firstMap">
		SELECT p.proName,p.id as p_id,p.proCode,p.proDesc,p.proContact,p.proPhone,b.* FROM smbms_bill b,smbms_provider p
		WHERE b.providerId=p.id
		<if test="providerId != null">
			AND p.id=#{providerId}
		</if>
		<if test="isPayment != null">
			AND b.isPayment=#{isPayment}
		</if>
		<if test="productName != null and productName != ''">
			AND b.productName LIKE CONCAT('%',#{productName},'%')
		</if>
	</select>
	<select id="getBillByThings3" parameterType="Map" resultMap="firstMap">
		SELECT p.proName,p.id as p_id,p.proCode,p.proDesc,p.proContact,p.proPhone,b.* FROM smbms_bill b,smbms_provider p
		<where>
			b.providerId=p.id
			<if test="providerId != null">
				AND p.id=#{providerId}
			</if>
			<if test="isPayment != null">
				AND b.isPayment=#{isPayment}
			</if>
			<if test="productName != null and productName != ''">
				AND b.productName LIKE CONCAT('%',#{productName},'%')
			</if>
		</where>
	</select>
	
	<select id="getBillByThings4" parameterType="Map" resultMap="firstMap">
		SELECT p.proName,p.id as p_id,p.proCode,p.proDesc,p.proContact,p.proPhone,b.* FROM smbms_bill b,smbms_provider p
		<trim prefix="where" prefixOverrides="or|and">
			
			<if test="providerId != null">
				AND p.id=#{providerId}
			</if>
			<if test="isPayment != null">
				AND b.isPayment=#{isPayment}
			</if>
			<if test="productName != null and productName != ''">
				AND b.productName LIKE CONCAT('%',#{productName},'%')
			</if>
		</trim>
	</select>
	
	
	<select id="getBillsByProviderIdList" resultMap="firstMap">
		select * from smbms_bill where providerId in
		<foreach collection="list" item="pId" open="(" separator="," close=")">
			#{pId}
		</foreach>
	</select>
	
	<select id="getBillsByContionsMap" resultMap="firstMap">
		select * from smbms_bill where billCode like concat('%',#{bCode},'%')
		and providerId in 
		<foreach collection="pIds" item="pId" open="(" separator="," close=")">
			#{pId}
		</foreach>
	</select>
	
</mapper>